{% extends 'base.html' %}

{% block content%}


<div align="center">

    <p> Trabajando con las <a
            href="http://datosabiertos.presidencia.go.cr/dataviews/112440/licitaciones-adjudicadas-de-las-instituciones-publicas-para-el-periodo-2014-2015/">
        Apis de licitaciones</a> <br><br>
        Basado en el Trabajo en R que han Venido realizando <a href="https://github.com/ronnyhdez"> Ronny Hernandez </a> y <a
                href="https://github.com/ecamo19"> Erick Calderon</a> el cual se puede ver en <a
                href="https://github.com/datos-abiertos-cr">en este perfil de git hub</a>
    </p>
</div>


{% endblock %}