{% extends 'base.html' %}

{% block content%}

<div align="center">
    <p>Este proyecto nace con la inciativa de poder utilizar las apis públicas dadas mediante el impulso que da el <a
            href="http://www.gobiernoabierto.go.cr/"> Gobierno Abierto</a> y los <a
            href="http://datosabiertos.presidencia.go.cr/home"> Datos Abiertos Costa Rica</a> uitlizando <a
            href="https://www.python.org/">Python</a> y <a
            href="https://www.djangoproject.com/">Django</a> </p> <br>
    <p>El repositorio de este proyecto se encuentra <a href=" https://github.com/alegambo/Datos_Abiertos"> aqui </a> y si lo desea puede colaborar con el mismo </p>

</div>

{% endblock %}